[submodule "resume"]
	path = resume
	url = https://github.com/onlyliving/resume
[submodule "Side-Projects"]
	path = Side-Projects
	url = https://github.com/onlyliving/Side-Projects
[submodule "blog/hexo/themes/a-rsnippet"]
	path = blog/hexo/themes/a-rsnippet
	url = https://github.com/huyingjie/hexo-theme-A-RSnippet
[submodule "quiz-webapp"]
	path = quiz-webapp
	url = https://github.com/onlyliving/quiz-webapp
